/* general */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #6725A8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.good-wrapper {
    max-height: 700px;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.3s ease-out;
}

.main .good-count.good-count-mobile,
.main .good-remains.good-remains-mobile,
.header .search-mobile.search,
.good-mobile-footer,
.good-text-mobile,
.good-size-mobile,
.good-checkbox-mobile,
.tabbar-mobile {
    display: none;
}

.favorite {
    filter: brightness(0) saturate(100%) invert(15%) sepia(76%) saturate(6984%) hue-rotate(303deg) brightness(92%) contrast(93%);
}

.good-favorite-image,
.good-delete-image,
.good-info,
.aside-edit-image,
.profile-image,
.union,
.catalog,
.cart,
.favorites,
input[type=button],
label:not(.label-input-form),
.good-count-minus,
.good-count-plus,
.triangle,
.choose-text,
.good-caption,
.aside-price-rejection,
.delivery-price-rejection,
.good-previous-price {
    cursor: pointer;
}

.label-input-form {
    cursor: text;
}

.disabled {
    color: rgba(0, 0, 0, 0.2);
}

.notification {
    background: #F55123;
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    height: 14px;
    line-height: 14px;
    top: -5px;
    border-radius: 8px;
    right: -5px;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
}

.choose-custom-checkbox {
    width: 22px;
    height: 22px;
    border-radius: 7px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.hidden:checked+.choose-custom-checkbox {
    background: #CB11AB;
    color: white;
    border: none;
}

.hidden:checked+.choose-custom-checkbox::before {
    position: absolute;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    content: url('../icons/Check.svg');
}

.error-form-input::placeholder {
    color: #F55123;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* header */

.header {
    background: #6725A8;
    height: 88px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 16px;
    color: #fff;
}

.header-main {
    display: flex;
    align-items: center;
}

.logo {
    width: 106px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 16px;
}

.burger-menu {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burger-menu-block {
    width: 28px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.burger-menu-bar {
    display: block;
    height: 4px;
    width: 28px;
    background: #fff;
    border-radius: 2px;
}

.search {
    margin-left: 32px;
    max-width: 970px;
    width: 100%;
    position: relative;
}

.search::after {
    position: absolute;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 22px;
    opacity: 0.4;
    width: 24px;
    height: 24px;
    content: url('../icons/Search.svg');
}

.search-bar {
    border-radius: 36px;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
}

.search-bar::placeholder {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 56px;
    margin-left: 32px;
}

.profile,
.cart {
    text-align: center;
    justify-content: space-between;
    font-style: normal;
    font-size: 13px;
    height: 100%;
}

.cart {
    margin-left: 36px;
    position: relative;
}

.cart-image {
    transform: scale(-1, 1);
}

/* main */
/* goods */
.main {
    background: #F6F6FA;
    width: 100%;
    border-radius: 24px;
    min-height: 600px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.unavailable-good .good-image-block {
    width: auto;
}

.card-header-main {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.card-page {
    width: 64.5%;
}

.goods,
.unavailable-goods,
.card {
    margin-top: 28px;
    width: 100%;
}

.choose,
.unavailable {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.unavailable-header {
    color: #000;
}

.choose-text {
    margin-left: 11px;
}

.triangle {
    border-top: 2px solid #A0A0A4;
    border-left: 2px solid #A0A0A4;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    margin-top: 12px;
    margin-right: 0;
    margin-left: auto;
    transition: all 0.3s ease-out;
}

.good,
.unavailable-good {
    display: flex;
    align-items: flex-start;
    min-height: 105px;
    margin-top: 24px;
    padding-top: 8px;
}

.good:first-child,
.unavailable-good:first-child {
    margin-top: 0;
}

.good-checkbox,
.good-checkbox-mobile {
    align-self: center;
}

.good-image-block {
    width: 106px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.good-image {
    width: 72px;
}

.good-text {
    margin-left: 16px;
    margin-top: 2px;
}

.good-caption {
    max-width: 290px;
    line-height: 24px;
}

.good-characteristics {
    display: flex;
    font-size: 13px;
    margin-top: 10px;
}

.good-size {
    margin-left: 16px;
}

.good-footer {
    margin-top: 8px;
    font-size: 13px;
    line-height: 20px;
    color: #A0A0A4;
    position: relative;
}

.good-provider {
    display: flex;
    align-items: center;
}

.good-info {
    margin-left: 5px;
}

.good-info-tooltip {
    width: 280px;
    height: 104px;
    padding: 16px;
    background: white;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    top: 50px;
    left: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    color: #000;
}

.good-info:hover+.good-info-tooltip {
    visibility: visible;
    opacity: 1;
}

.good-tooltip-header {
    font-weight: 700;
}

.good-options {
    margin-left: auto;
    height: 100%;
}

.good-count {
    margin-top: 0px;
    width: 100px;
    height: 44px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
}

.good-count-input {
    width: 44px;
    outline: none;
    text-align: center;
    border: none;
}

.good-count-minus,
.good-count-plus {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good-remains {
    color: #FF3B30;
    font-size: 13px;
    margin-top: 10px;
}

.good-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.good-delete {
    margin-left: 18px;
}

.good-price {
    height: 100%;
    width: 120px;
    text-align: right;
}

.good-price-tooltip {
    width: 240px;
    height: 64px;
    padding: 16px;
    background: white;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    top: 50px;
    left: 0;
    visibility: visible;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    color: #000;
}

.good-total-price {
    margin-top: 4px;
    margin-left: 6px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.good-currency-price {
    font-size: 16px;
}

.good-previous-price {
    border-style: dashed solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: line-through;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
}

.good-previous-tooltip {
    width: 230px;
    height: 64px;
    padding: 16px;
    position: absolute;
    background: #fff;
    font-size: 13px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    left: calc(61.5% - 200px);
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.good-tooltip-info {
    display: flex;
    justify-content: space-between;
}

.good-tooltip-discount {
    display: inline-block;
}

.good-tooltip-discount {
    color: #A0A0A4;
}

.deleted {
    filter: invert(44%) sepia(60%) saturate(4414%) hue-rotate(348deg) brightness(98%) contrast(96%);
}

.unavailable {
    font-weight: 600;
}

.unavailable-image-block {
    width: 72px;
    position: relative;
}

.unavailable-image {
    filter: grayscale(100%);
}

.unavailable-goods {
    color: #9797AF;
}

/* delivery  */

.card {
    background: #fff;
    padding: 16px 24px;
    border-radius: 16px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header-text {
    font-size: 24px;
    font-weight: 700;
}

.card-button {
    color: #CB11AB;
    background: #fff;
    border: none;
    font-weight: 700;
}

.delivery-option {
    display: flex;
    margin-top: 16px;
}

.delivery-caption {
    font-weight: 600;
    width: 22%;
}

.delivery-info {
    display: flex;
}

.delivery-about {
    display: flex;
    font-size: 13px;
    margin-top: 4px;
}

.delivery-star {
    color: #FF970D;
}

.delivery-time {
    margin-left: 8px;
}

.delivery-images-block {
    display: flex;
    gap: 8px;
}

.delivery-image-block {
    width: 40px;
    position: relative;
}

.delivery-image {
    width: 100%;
}

.delivery-rejection {
    margin-top: 28px;
    font-size: 13px;
    display: flex;
    align-items: center;
    position: relative;
}

.delivery-rejection-block {
    position: relative;
}

.delivery-price-rejection,
.aside-price-rejection {
    color: #0CB477;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.delivery-price-tooltip,
.aside-price-tooltip {
    width: 288px;
    height: 72px;
    padding: 16px;
    background: white;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    color: #000;
    z-index: 999;
}

.delivery-price-info {
    position: relative;
}

.aside-price-tooltip {
    right: 0;
}

.delivery-price-tooltip {
    right: -120px;
}

.delivery-price-rejection:hover+.delivery-price-tooltip,
.aside-price-rejection:hover+.aside-price-tooltip,
.good-previous-price:hover+.good-previous-tooltip {
    visibility: visible;
    opacity: 1;
}

.delivery-rejection-check {
    margin-right: 5px;
}

/* paycard */

.paycard {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.paycard-info {
    margin-left: 8px;
}

.paycard-date {
    margin-left: 12px;
}

.payment-info {
    margin-top: 8px;
    font-size: 13px;
    color: #9797AF;
}

/* receiver */

.receiver-form-block {
    max-width: 100%;
}

.input-form-wrapper {
    width: 100%;
    position: relative;
}

.input-form-block {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.label-input-form {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #9797AF;
    transition: all 0.2s ease-in-out;
}

.input-form-block.error-form-input .input-form-receiver {
    color: #F55123;
}

.input-form-block .input-form-receiver:focus+.label-input-form,
.input-form-block .input-form-receiver.focused+.label-input-form {
    top: -100%;
    font-size: 13px;
}

.input-form-receiver {
    border: none;
    outline: none;
    padding-bottom: 5px;
    width: 100%;
}

.input-form-wrapper:not(:first-child) {
    min-width: 0;
    margin-left: 24px;
}

.input-form-error {
    position: absolute;
    top: 100%;
    color: #F55123;
    font-size: 12px;
}

.name-surname-block {
    margin-top: 34px;
    width: 100%;
    display: flex;
}

.email-tel-tin-block {
    display: flex;
    margin-top: 37px;
}

.tin-input-form-block {
    width: 100%;
}

.tin-purpose {
    font-size: 12px;
    white-space: nowrap;
}

.receiver {
    padding-bottom: 45px;
}

/* aside */

.aside {
    width: 31%;
    margin-top: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.aside-option {
    margin-top: 6px;
    justify-content: space-between;
    display: flex;
}

.aside-option:nth-child(2) {
    margin-top: 16px;
}

.aside-caption-section {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    font-weight: 700;
}

.aside-delivery-address {
    font-size: 13px;
    margin-top: 8px;
}

.aside-delivery-date {
    color: #CB11AB;
    font-size: 13px;
    margin-top: 4px;
}

.aside-delivery-date-text {
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.aside-rejection-block {
    position: relative;
}

.aside-info-block {
    background: #F6F6FA;
    margin-top: 16px;
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
}

.aside-paycard {
    font-size: 13px;
    margin-top: 5px;
}

.aside-payment-block {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.aside-payment-check-block {
    display: flex;
    align-items: center;
}

.aside-payment-text {
    margin-left: 8px;
    font-size: 13px;
}

.aside-payment-info {
    margin-top: 8px;
    font-size: 13px;
}

.aside-button {
    margin-top: 24px;
}

.custom-button {
    width: 100%;
    color: #fff;
    height: 44px;
    font-weight: 700;
    background: #CB11AB;
    border-radius: 8px;
    border: none;
}

.aside-agreement-checkbox {
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
    margin-right: 8px;
    border-radius: 5px;
}

.hidden:checked+.aside-agreement-checkbox {
    background: #000;
    filter: invert(100%) sepia(7%) saturate(7487%) hue-rotate(190deg) brightness(110%) contrast(102%);
    border: none;
}

.hidden:checked+.aside-agreement-checkbox::before {
    position: absolute;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    content: url('../icons/Check.svg');
}

.aside-footer {
    font-size: 13px;
    display: flex;
    margin-top: 8px;
}

.aside-agreement-href {
    color: #000;
    text-decoration-color: rgba(0, 0, 0, 0.1);
}

/* footer */

.footer {
    width: 100%;
    height: 64px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 280px) and (max-width: 1024px) {

    /* header  */

    .header {
        padding-left: 16px;
        padding-right: 16px;
        height: 56px;
    }

    .header .icons {
        display: none;
    }

    .header .search-bar {
        display: none;
    }

    .header .burger-menu {
        border: none;
        width: 28px;
    }

    .header .burger-menu-block {
        width: 22px;
        height: 18px;
    }

    .header .burger-menu-bar {
        height: 2px;
        width: 22px;
    }

    .header .logo {
        width: 100%;
        margin-left: 0;
        margin-right: 28px;
        font-size: 22px;
        text-align: center;
        font-weight: 600;
    }

    .header .header-main {
        width: 100%;
    }

    .header .search {
        display: none;
    }

    .header .search-mobile.search {
        display: block;
        width: 0;
        position: relative;
        margin-left: 0;
        position: relative;
    }

    .header .search-mobile::after {
        right: 0px;
        opacity: 1;
        top: calc(50% - 9px);
    }

    .main .card-header-main {
        font-size: 20px;
    }

    /* main */

    .main {
        padding: 0;
        display: block;
    }

    .main .good-count {
        display: none;
    }

    .main .good-remains {
        display: none;
    }

    .main .good-size {
        display: none;
    }

    .main .good-provider {
        display: none;
    }

    .main .good-price {
        display: none;
    }

    .main .good-text {
        display: none;
    }

    .main .good-icons {
        display: none;
    }

    .main .unavailable-goods,
    .main .available-goods {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 0;
        width: calc(100% - 32px)
    }

    .main .good-size-mobile {
        display: block;
        height: 22px;
        line-height: 22px;
        border-radius: 8px;
        color: #000;
        background: #fff;
        padding: 0px 4px;
        z-index: 3;
        font-size: 14px;
        position: absolute;
        bottom: 4px;
        left: 4px;
    }

    .main .card-header-main {
        margin: 0;
        padding-left: 16px;
        padding-top: 16px;
    }

    .main .card-page {
        width: 100%;
    }

    .main .good {
        display: block;
        padding-top: 16px;
        margin-top: 0;
    }

    .main .good:has(+.good) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 16px;
    }

    .main .good-mobile-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        max-width: 255px;
    }

    .main .good-checkbox,
    .good-checkbox-mobile {
        display: block;
        position: absolute;
        top: 4px;
        z-index: 3;
        left: 4px;
    }

    .main .good-image {
        width: 80px;
    }

    .main .good-image-block {
        justify-content: flex-start;
        width: auto;
    }

    .main .good-count {
        margin-top: 12px;
        padding: 4px 10px;
        width: 80px;
    }

    .main .good-text.good-text-mobile {
        display: block;
        width: 192px;
        margin-left: 12px;
    }

    .main .good-price.good-price-mobile {
        width: 192px;
    }

    .main .good-count.good-count-mobile {
        display: flex;
    }

    .main .good-remains.good-remains-mobile {
        display: flex;
    }

    .main .good-price.good-price-mobile {
        display: block;
        text-align: left;
        height: auto;
    }

    .main .good-caption.good-caption-mobile {
        margin-top: 4px;
        line-height: 20px;
        font-size: 14px;
    }

    .main .good-total-price.good-total-price-mobile {
        display: inline;
        margin-left: 0;
    }

    .main .good-previous-price.good-previous-price-mobile {
        margin-left: 0;
        ;
    }

    .main .good-icons-mobile {
        display: flex;
        margin-left: auto;
    }

    .main .card-header-text {
        font-size: 20px;
        white-space: nowrap;
    }

    .main .card {
        padding: 16px;
    }

    .main .receiver {
        padding-bottom: 32px;
    }

    .main .delivery-option {
        display: block;
        line-height: 20px;
    }

    .main .delivery-caption {
        width: 100%;
    }

    .main .delivery-images-block {
        margin-top: 12px;
    }

    .main .delivery-price-tooltip {
        right: 0;
    }

    .main .name-surname-block,
    .main .email-tel-tin-block {
        flex-direction: column;
        gap: 50px;
    }

    .name-surname-block .input-form-wrapper,
    .email-tel-tin-block .input-form-wrapper {
        margin-left: 0;
    }

    .main .tin-input-form-block {
        margin-bottom: 0px;
    }

    /* aside  */
    .aside {
        width: 100%;
    }

    .aside-caption-section,
    .aside-delivery-address,
    .aside-delivery-date,
    .aside-paycard {
        display: none;
    }

    .aside.card {
        background: #F6F6F6;
        box-shadow: none;
    }

    .aside .aside-info-block {
        background: #F0ECF4;
    }

    /* tabbar (mobile)*/

    .tabbar-mobile {
        color: #ccc;
        height: 56px;
        background: #fff;
        display: flex;
        padding: 0 13px;
        justify-content: space-between;
        box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
        align-items: center;
    }

    .cart-image,
    .profile-image,
    .favorites-image,
    .union-image {
        filter: brightness(0) saturate(100%) invert(85%) sepia(45%) saturate(0%) hue-rotate(245deg) brightness(96%) contrast(76%);
    }

    .cart-image {
        filter: brightness(0) saturate(100%) invert(15%) sepia(76%) saturate(6984%) hue-rotate(303deg) brightness(92%) contrast(93%);
    }

    .catalog-strips-image {
        margin-bottom: 4px;
        margin-left: -10px;
    }

    .cart,
    .profile,
    .union,
    .favorites {
        height: auto;
        margin: 0;
    }
}