/* general */

* {
    box-sizing: border-box;
}

/* body, html {
    overflow-x: hidden;
    max-width: 100%;
} */

body {
    background: #6725A8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.disabled {
    color: rgba(0, 0, 0, 0.2);
}

.notification {
    background: #F55123;
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    height: 14px;
    line-height: 14px;
    top: -5px;
    border-radius: 8px;
    right: 0;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
}

.choose-custom-checkbox {
    width: 22px;
    height: 22px;
    border-radius: 7px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
}

.hidden:checked+.choose-custom-checkbox {
    background: #CB11AB;
    color: white;
    border: none;
}

.hidden:checked+.choose-custom-checkbox::before {
    position: absolute;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    content: url('../icons/Check.svg');
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

/* header */

.header {
    background: #6725A8;
    height: 88px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 16px;
    color: #fff;
}

.header-main {
    display: flex;
    align-items: center;
}

.logo {
    width: 106px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 16px;
}

.burger-menu {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burger-menu-block {
    width: 28px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.burger-menu-bar {
    display: block;
    height: 4px;
    width: 28px;
    background: #fff;
    border-radius: 2px;
}

.search {
    margin-left: 32px;
    max-width: 970px;
    width: 100%;
    position: relative;
}

.search::after {
    position: absolute;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 22px;
    opacity: 0.4;
    width: 24px;
    height: 24px;
    content: url('../icons/Search.svg');
}

.search-bar {
    border-radius: 36px;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.2);
}


.search-bar::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 56px;
    margin-left: 32px;
}

.profile,
.cart {
    text-align: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    height: 100%;
}

.cart {
    margin-left: 36px;
    position: relative;
}

.cart-image {
    transform: scale(-1, 1);
}

/* main */
/* goods */
.main {
    background: #F6F6FA;
    width: 100%;
    border-radius: 24px;
    min-height: 550px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-header-main {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.card-page {
    width: 64.5%;
}

.goods,
.unavailable-goods,
.card {
    margin-top: 28px;
    width: 100%;
}

.choose,
.unavailable {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.choose-text {
    margin-left: 11px;
}

.triangle {
    border-top: 2px solid #A0A0A4;
    border-left: 2px solid #A0A0A4;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    margin-top: 12px;
    margin-right: 0;
    margin-left: auto;
}

.good,
.unavailable-good {
    display: flex;
    align-items: flex-start;
    min-height: 105px;
    padding-top: 8px;
}

.good-checkbox {
    align-self: center;
}

.good-image-block {
    width: 106px;
    display: flex;
    justify-content: space-between;
}

.good-image {
    width: 72px;
}

.good-text {
    margin-left: 16px;
    margin-top: 2px;
}

.good-caption {
    max-width: 290px;
    line-height: 24px;
}

.good-characteristics {
    display: flex;
    font-size: 13px;
    margin-top: 10px;
}

.good-size {
    margin-left: 16px;
}

.good-footer {
    margin-top: 8px;
    font-size: 13px;
    line-height: 20px;
    color: #A0A0A4;
}

.good-info {
    margin-left: 5px;
    font-size: 16px;
}

.good-options {
    margin-left: auto;
    height: 100%;
}

.good-count {
    margin-top: 0px;
    width: 100px;
    height: 44px;
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;
}

.good-count-input {
    width: 44px;
    outline: none;
    text-align: center;
    border: none;
}

.good-count-minus,
.good-count-plus {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.good-remains {
    color: #FF3B30;
    font-size: 13px;
    margin-top: 10px;
}

.good-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.good-delete {
    margin-left: 18px;
}

.good-price {
    height: 100%;
    width: 120px;
    text-align: right;
}

.good-total-price {
    margin-top: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.good-currency-price {
    font-size: 16px;
}

.good-previous-price {
    border-style: dashed solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: line-through;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.2);
    margin-left: 16px;
}

.good:not(:nth-child(2)),
.unavailable-good:not(:nth-child(2)) {
    padding-top: 40px;
}

.selected {
    filter: invert(44%) sepia(60%) saturate(4414%) hue-rotate(348deg) brightness(98%) contrast(96%);
}

.unavailable {
    font-weight: 600;
}

.unavailable-image-block {
    width: 72px;
}

.unavailable-image {
    filter: grayscale(100%);
}

.unavailable-goods {
    color: #9797AF;
}

/* delivery  */

.card {
    background: #fff;
    padding: 16px 24px;
    border-radius: 16px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header-text {
    font-size: 24px;
    font-weight: 700;
}

.card-button {
    color: #CB11AB;
    background: #fff;
    border: none;
    font-weight: 700;
}

.delivery-option {
    display: flex;
    margin-top: 16px;
}

.delivery-caption {
    font-weight: 600;
    width: 22%;
}

.delivery-info {
    display: flex;
}

.delivery-about {
    display: flex;
    font-size: 13px;
    margin-top: 4px;
}

.delivery-star {
    color: #FF970D;
}

.delivery-time {
    margin-left: 8px;
}

.delivery-images-block {
    display: flex;

}

.delivery-image-block {
    width: 40px;
    position: relative;
}

.delivery-image {
    width: 100%;
}

.delivery-rejection {
    margin-top: 28px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.delivery-price-rejection {
    color: #0CB477;
    margin-left: 5px;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.delivery-rejection-check {
    margin-right: 5px;
}

/* paycard */

.paycard {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-weight: 400;
}

.paycard-info {
    margin-left: 8px;
}

.paycard-date {
    margin-left: 12px;
}

.payment-info {
    margin-top: 8px;
    font-weight: 400px;
    font-size: 13px;
    color: #9797AF;
}

/* receiver */

.receiver-form-block {
    max-width: 700px;
}

.input-form-receiver {
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    padding-bottom: 5px;
}

.input-form-receiver:not(:first-child),
.tin-input-form-block {
    margin-left: 24px;
}

.name-surname-block {
    margin-top: 34px;
    width: 100%;
    display: flex;
}

.email-tel-tin-block {
    display: flex;
    margin-top: 37px;
}

.tin-input-form-block {
    width: 100%;
    margin-bottom: -20px;
}

.tin-purpose {
    font-size: 12px;
    font-weight: 400;
}

.receiver {
    padding-bottom: 45px;
}

/* aside */
.aside {
    width: 31%;
    margin-top: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.aside-option {
    margin-top: 6px;
    justify-content: space-between;
    display: flex;
}

.aside-option:nth-child(2) {
    margin-top: 16px;
}

.aside-caption-section {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    font-weight: 700;
}

.aside-delivery-address {
    font-size: 13px;
    margin-top: 8px;
}

.aside-delivery-date {
    color: #CB11AB;
    font-size: 13px;
    margin-top: 4px;
}

.aside-delivery-date-text {
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.aside-info-block {
    background: #F6F6FA;
    margin-top: 16px;
    padding: 8px 8px 12px 8px;
    border-radius: 8px;
}

.aside-price-rejection {
    color: #0CB477;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

.aside-paycard {
    font-size: 13px;
    margin-top: 5px;
}

.aside-payment-block {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.aside-payment-check-block {
    display: flex;
    align-items: center;
}

.aside-payment-text {
    margin-left: 8px;
    font-size: 13px;
}

.aside-payment-info {
    margin-top: 8px;
    font-size: 13px;
}

.aside-button {
    margin-top: 24px;
}

.custom-button {
    width: 100%;
    color: #fff;
    height: 44px;
    font-weight: 700;
    background: #CB11AB;
    border-radius: 8px;
    border: none;
}

.aside-agreement-checkbox {
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
    margin-right: 8px;
    border-radius: 5px;
}

.hidden:checked+.aside-agreement-checkbox {
    background: #000;
    filter: invert(100%) sepia(7%) saturate(7487%) hue-rotate(190deg) brightness(110%) contrast(102%);
    border: none;
}

.hidden:checked+.aside-agreement-checkbox::before {
    position: absolute;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    content: url('../icons/Check.svg');
}

.aside-footer {
    font-size: 13px;
    display: flex;
    margin-top: 8px;
}

.aside-agreement-href {
    color: #000;
    text-decoration-color: rgba(0, 0, 0, 0.1);
}

/* footer */

.footer {
    width: 100%;
    height: 64px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 280px) and (max-width: 1024px) {
    header .icons {
        display: none;
    }

    header .search-bar {
        display: none;
    }

    header .burger-menu {
        border: none;
    }
    
    header .burger-menu-block {
        width: 22px;
        height: 18px;
    }

    header .burger-menu-bar{
        height: 2px;
        width: 22px;
    }

    header .logo {
        width: 100%;
        font-size: 26px;
        text-align: center;
        font-weight: 600;
    }

    header .header-main { 
        width: 100%;
    }

    header .search {
        position: absolute;
    }

    header .search::after {
        top: calc(50% - 12px);
        left: calc(100% - 100px);
    }

    .main {
        display: block;
    }
    
    .main .card-page {
        width: 100%;
    }

    .aside {
        width: 100%;
    }
}